.content.banner-content {
  width: 80%;
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
}
.cercle-illustration, .banner-ilustration, .square-illustration-left, .square-illustration-right, .line-illustration {
    display: none;
  }
.banner {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
 .short-banner-holder {
    flex-direction: column;
  }
.banner {
  background-image: linear-gradient(178deg, #cb97ff, #e6eaff);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  overflow: hidden;
}

.banner.blue-banner {
  background-image: linear-gradient(178deg, #e6eaff, #fff);
}
.short-banner-holder {
  justify-content: space-between;
  align-items: center;
  max-width: 340px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.banner-ilustration {
  width: 40vw;
  position: absolute;
  top: -45px;
  bottom: auto;
  left: auto;
  right: -40px;
}
.content.banner-content {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .banner-ilustration {
    width: 200px;
    top: 0;
    right: 0;
  }
  .content.banner-content, .content.style-body-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
 .content.boxes-content {
    padding-bottom: 0;
  }
.content.boxes-content {
    padding-bottom: 50px;
  }
.content.boxes-content {
  width: 80%;
  padding-top: 0;
  padding-bottom: 100px;
}

.boxes-inner {
    grid-template-columns: 1fr;
  }
.boxes-inner {
    grid-template-columns: 1fr 1fr;
  }
.boxes-inner {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: flex-start;
  justify-content: space-between;
  display: grid;
}

.box-white {
    border-radius: 25px;
    min-height: 200px;
  }
.box-white {
  background-color: #fff;
  border-radius: 45px;
  justify-content: center;
  align-items: center;
  min-height: 280px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}
.box-text {
  text-align: center;
}








